# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\SpringBootDemos\bonus-code-spring-security-user-registration-custom-user-details-thymeleaf-spring-boot\insankaynaklari\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
